* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url(123.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'roboto';
  font-weight: 100;

}
.contenedor-form {
  background: rgba(0, 0, 0, 70%);
  width: 100%;
  max-width: 500px;
  margin:48px auto;
  color:#FFF;
  border-radius: 5px;
  position: relative;
}
.contenedor-form .toggle {
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: .5px solid #FFF;
  border-bottom: .5px solid #FFF;
  position: absolute;
  cursor: pointer;
}
.contenedor-form .toggle span{
  letter-spacing: 1px;

}
.contenedor-form .toggle:hover {
  border-top: 1px solid #4b43e0;
  border-bottom: 1px solid #4b43e0;

}
.contenedor-form h2 {
  margin: 0 0 28px 0;
  font-size: 28px;
  font-weight: 400px;
  line-height: 1px;
  text-align: center;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, .5);
  color: #FFF;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #8ae8ed;
  font-family: 'roboto';
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 0;
  transition: all 1s ease;
  position: relative;
}
.formulario .form-2 .error,
.formulario .form-2 .error:focus{
  border-bottom: 4px solid rgba(245, 30, 22, .8);
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
  border-bottom: 4px solid #4b43e0;
}
.contenedor-form input[type="checkbox"]{
  cursor: pointer;
}

.contenedor-form input[type="button"] {
  background: rgba(148, 48, 219, .5);
  color: #FFF;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  font-family: 'roboto';
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 1px;
  margin-top: 10px;
}
.contenedor-form input[type="button"]:hover {
  background: rgba(200, 158, 230, .5);
  box-shadow: -1px -1px 5px #000;
  border-radius: 1px;

}
.contenedor-form .reset-password {
  background: rgba(200, 158, 230, .5);
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all .5s;

}
.contenedor-form .reset-password a{
  text-decoration: none;
  color: #FFF;
  font-size: 20px;

}
.contenedor-form .reset-password:hover {
  background: rgba(152, 135, 163, .5);
}
.contenedor-form .formulario {
  padding:40px;
  display: none;
}
.contenedor-form #formulario-1 {
  display:block;
  transition: all 1s linear;

}
.contenedor-form #formulario-2 {
  transition: all 1s linear;

}
.form-2 #error-usuario,
.form-2 #error-contraseña,
.form-2 #error-contraseña2,
.form-2 #error-acepto,
.form-2 #error-correo,
.form #usuario-invalido,
.form #contraseña-invalida {
  margin-top: 2px;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 0;

  text-align: center;
  color: white;
  font-weight: 700;
  font-family: 'roboto';
  font-style: italic;
  visibility: hidden;

  height: 30px;

}

.form-2 div{
  position: relative;
}


.form-2 i{
  height: 20px;
  width: 20px;
  color: #8ae8ed;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}


.form-2 .labelAcepto {
  margin-top: 0;
}
.denegado, .denegado2 {
  background-color:rgba(255, 255, 255, .5);
  border: .5px solid rgba(245, 30, 22, .5);
  border-radius: 2px;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  display: none;
  line-height: 30px;
}
.denegado i, .denegado2 i{
  color: red;
  visibility: visible;
  left: 10px;
}
.creado {
  background-color:rgba(255, 255, 255, .5);
  border: .5px solid rgba(145, 250, 140, .5);
  margin-top: 5px;
  text-align: center;
  display: none;
}
.creado i{
  color: rgba(145, 250, 140);
  visibility: visible;
  left: 15px;
}
.ver{
  color: white;
  font-size: 10px;
  font-weight: 100;
  font-style:italic;
  cursor: pointer;
  text-decoration: none;
}
.documentoPruebas {
  display: block;
  font-style: italic;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 150px;
}
/*RELOJ*/


.reloj .input{
  color: #fff;
  background: rgba(0, 0, 0, 70%);
  border: none;
  text-align: center;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 20px auto;

}
@media only screen and (max-width: 700px) {
  .contenedor-form {
    width: 90%;
    max-width: 500px;
  }
  .contenedor-form .toggle {
    width: 20%;
    font-size: 8px;
  }
  .creado i{
    left:0;
  }
  .denegado i, .denegado2 i {
    left:2px;;
    line-height: 20px;
    font-size: 15px;
  }
.denegado, .denegado2 {
  font-size: 10px;
}
}
